<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title><%= title %> </title>
</head>
<header><h1 class="index">Welcome to Express Airlines</h1>
    <div class="index"><img class="airplane"src="https://thumbs.dreamstime.com/b/airplane-plane-takeoff-passenger-plane-airlines-airport-travel-transport-business-economy-class-symbol-icon-vector-68633735.jpg"></div>
  </header><br>
<body>
    <div class="Flights">
    <h1><%= title %> </h1>
    <section>
        <div><b>Airline:</b> <%= flight.airline %></div><br>
        <div><b>Airport:</b> <%= flight.airport %></div><br>
        <div><b>Flight Number:</b> <%= flight.flightNo %></div><br>
        <div><b>Departs:</b> <%= flight.departs %></div><br>
        <center><button type="submit"><a href="/tickets/new">Add a Ticket</button></a></center>
        <h2><center>Ticket Information</center></h2>
        <div><b>Seat:</b></div><br>
        <div><b>Price:</b></div><br>
        <div><b>Flight:</b></div><br>



        <h2><center>Destinations</center></h2>
        <% if (flight.destinations.length) { %>
            <% flight.destinations.forEach(function(des) { %>
            <tr>  
              <div> <b>Destination Airport:</b> <%= des.airport %> </div><br>
              <div> <b>Arrival: </b><%= des.arrival %></div><br> 
              <form method="DELETE" action="/flights/<%=flight.id%>/destinations/<%=flight.destinations.id%>?_method=DELETE"></form>
                <button type="submit">Delete Destination</button><br><br>
              </form>
            </tr>
            <% }); %>
          <% } else { %>
            <h4>No Destination Yet</h4>
          <% } %>
    </section>
    </div>
</body>

<div class="Flights">
<br><h2>Add a Destination</h2>
<form id="add-destination-form" method="POST"
  action="/flights/<%= flight._id %>/destinations">
  <label>Airport:</label>
  <select name="airport">
    <option value="AUS">AUS</option>
    <option value="DFW">DFW</option>
    <option value="DEN">DEN</option>
    <option value="LAX">LAX</option>
    <option value="SAN">SAN</option>
  </select>
  <br><br>
  <label>Arrival:
    <input type="datetime-local" name="arrival" required> 
</label><br><br>
  <input type="submit" value="Add Destination">
</form>
</div>
<br>
<footer>

</footer>
</html>

